# Build Maven
/target

# IDEs Files
*.iml
.idea/
.vscode/

# IConfigs System
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# OS Files
*.swp
*.bak
*.tmp

# Logs
*.log

# Test coverage / Records
jacoco.exec
*.ec
*.ser

# Docker Files
Dockerfile
docker-compose.yml
